@model CST_350_CLC.Models.UserModel


<head runat="server">
    <meta http-equiv="Refresh" content="2;url=/game/index" />
</head>
<div class="container">
    <div id="txtblnk"> <p style="font-size: 40px"><strong><font color="purple">Login Success!!</font></strong></p> </div>
</div> 
