@model CST_350_CLC.Models.GameBoardModel

<h1>Minesweeper Game</h1>
<hr />
<div>
    <table class="table">
        <thead>
            Minesweeper Game
        </thead>
        <tbody class="table-bordered">
            @for (int i = 0; i < Model.Size; i++)
            {
                <tr>
                    @for (int j = 0; j < Model.Size; j++)
                    {
                        <td>
                            <a class="btn btn-dark" href="/game/cellclick/@Model.Grid[i,j].Id">@Model.Grid[i,j].CurrentCellText</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <p>
        <a href="/game/index" class="btn btn-primary">Start Over</a>
    </p>
</div>