@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Information collected includes scores for Minesweeper. Cookies are used for the sake of functionality. IP addresses may also be logged and banned in case of cheating. This is to make sure the score leaderboard is fair for all players. Information is not shared and sold to any third parties. This site is in complicance with GDPR. Reach out at sampleemail@minesweeper.com for any additional questions.</p>
